*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.gradle
/.idea
*.bat
.apidetails.txt

app/src/main/res/values/secrets.xml
AppConstants.java